<header>
  <nav>
    <ul class="left">
      <li>eStub</li>
      <li><%= link_to 'Home', root_path %></li>
      </ul>

      <ul class="right">
    <% if current_user %>
      <li>Profile: <%= link_to (current_user.first_name).capitalize, user_path(current_user) %></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Log out', logout_path, method: :delete, data: {confirm: "Are you sure?"} %></li>

      <% else %>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Sign Up!', sign_up_path %></li>
    </ul>
    <% end %>
  </nav>
</header>


