<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "eStub" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <main class="wrapper">

    <div class="header">
      <%= render "layouts/header" %>
    </div>

    <%= yield %>

    <div class="push"></div>

  </main>
  <div class="footer">
    <%= render "layouts/footer"%>
  </div>
  

</body>
</html>
