<!DOCTYPE html>
<html>
<head>
  <title>eStub App</title>

  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= render "layouts/header" %>
  </div>

  <main>
    
    <%= yield %>
    
    <div class="push"></div>

  </main>
  <div class="footer">
    <%= render "layouts/footer"%>
  </div>

</body>
</html>