<h1>eStub User Login Page</h1>
<p>Please login to access the site and start managing your events.</p>

<p>Find me in app/views/sessions/new.html.erb</p>

<h2>User Login</h2>
<section>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
  <% end %>

  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %> 
  </div>
  <% end %>

</section>



