<h1><%= (@user.first_name).capitalize%> <%= (@user.last_name).capitalize %> profile page</h1>
<h3>users show page.html</h3>
<ul>
  <% if current_user == @user %>
  <li><%= image_tag @user.profile_pic %></li>

  <li><%= link_to 'Edit profile', edit_user_path(@user) %></li>
  <li>(Warning Irreversible!)
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>
<br />
<h3>My Events</h3>
<% @user.events.each do |event| %>
<ul>
  <li>
    <%= link_to event.name, event %>
  </li>
</ul>
<% end %>
<br/>
<h3>Add Event</h3>
<%= link_to "Add Event", new_event_path %>



