<section class="profile">
  <h1><%= (@user.first_name).capitalize%> <%= (@user.last_name).capitalize %> - Profile Page</h1>
  <ul>
    <% if current_user == @user %>
    <li><%= image_tag @user.profile_pic %></li>
    <br/>

    <li><%= link_to 'Edit profile', edit_user_path(@user) %></li>
    <br/>
    <li>
      <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
      (Warning Irreversible!)
    </li>
    <% end %>
  </ul>
  <ul>
    <h3 class="add">Add New Event</h3>
    <li class="add">
      <%= link_to "Add Event", new_event_path %>

    </li>
  </ul>

</section>
<div>
  <h3 class="add"><%= (@user.first_name).capitalize + "'s " %>Events</h3>
  <% @user.events.each do |event| %>
  <ul class="liblock">
    <li>
      <%= link_to (event.name).upcase, event %>
    </li>
  </ul>
  <% end %>
</div>





