<h1><%= @user.first_name%> <%= @user.last_name%> account page</h1>
<h3>users show page.html</h3>
<ul>
  <% if current_user == @user %>
  <li><%= image_tag @user.profile_pic %></li>
  <li><%= link_to 'Edit user account', edit_user_path(@user) %></li>
  <li>
    <%= link_to 'Remove Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>

<h2>My Events</h2>
<% @user.events.each do |event| %>
<ul>
  <li>
    <%= link_to event.name, event %>
  </li>
</ul>
<% end %>
<br/>
<h2>Add Event</h2>



<% if @user.id == current_user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home Page', root_path %>
<% end %>
