<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<section>
  <br />
  <div class="field">
    <%= f.label "Enter your events name:" %><br>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :date, "Date of Event:" %><br>
    <%= f.date_select :date, :order => [:day, :month, :year] %>
  </div>
  <br />
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <br />
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, :step => 0.01 %>
  </div>
  <br />
  <div class="field">
    <%= f.label "Who where you with?" %><br>
    <%= f.text_field :accompanied_by %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Upload a picture of your ticket stub' %><br>
    <%= f.file_field :stub_file_upload %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'or link to a photo on the web' %><br>
    <%= f.text_field :event_url %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Any comments you want to make on the event' %><br>
    <%= f.text_area :description %>
  </div>
  <br />
  <div class="field">
    <%= f.label "Rate the event" %><br>
    <%= f.select :rating, options_for_select([5, 4, 3, 2, 1, 0]) %>
  </div>
  <br />
  <div class="field">
    <%= f.label :share, "Would you like this event to be shared with everyone?" %><br>
    <p>NOTE: By sharing, some event details will be displayed for everyone. No personal details will be displayed.</p>
    <%= f.select :share, options_for_select(["No", "Yes"]) %>
  </div>
  <br />
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</section>