<h1>Events#show User</h1>
<p>Find me in app/views/events/showUser.html.erb</p>

<ul>
  <li>Name: <%= @event.name %></li>
  <li>Date: <%= @event.date %></li>
  <li>Venue: <%= @event.venue %></li>
  <li>City: <%= @event.city %></li>
  
  <li>Rated: <%= @event.rating %></li>
  <li>Comments: <%= @event.description %></li>

  <% if current_user == @event.user %>

  <li>Price: <%= @event.price %></li>
  <li>Who you were with: <%= @event.accompanied_by %></li>
  <li>Uploaded by: <%= link_to @event.user.first_name, user_path(@event.user.id) %></li>
  <li>Was this event shared? <%= @event.share %></li>

</ul>
<ul>
  <li>
    <% if @event.stub_file_upload.present? %>
    <%= link_to image_tag(@event.stub_file_upload.thumb.url), @event.stub_file_upload.url %>
    <% elsif %>
    <% @event.event_url.present? %>
    <%= image_tag @event.event_url %>
    <% else %>
    "No image available."
    <% end %>
  </li>
</ul>

<ul>
  <li>Comments: <%= @event.description %></li>
</ul>
<% if @event.user.id == current_user.id %>
<h3>Modify this event:</h3>
<li>
  <%= link_to "Edit", edit_event_path(@event) %>
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
<br />
<h3 class="add">Add another event:</h3>
<li class="add"><%= link_to "Add", new_event_path %></li>
<br />
<h3>Return to Event Index:</h3>
<li>
  <%= link_to "Event Index", events_path %>
  <% end %>
</li>
<% end %>
</ul>
